<header class="site-header">
  <div class="container">
    <a href="{{ '/' | relative_url }}" class="site-title">Sean R. Moran</a>
    <nav class="site-nav">
      <a href="{{ '/about' | relative_url }}" {% if page.url == '/about/' %}class="active"{% endif %}>About</a>
      <a href="{{ '/writing' | relative_url }}" {% if page.url contains '/writing' %}class="active"{% endif %}>Writing</a>
      <a href="{{ '/projects' | relative_url }}" {% if page.url == '/projects/' or page.url == '/blitz-box/' %}class="active"{% endif %}>Projects</a>
    </nav>
  </div>
</header>
